.restaurant-management {
  width: 100%;
  display: flex;
}

.management-nav {
  width: 200px;
}

.management-content {
  flex-grow: 1;
  padding: 20px;
}

.management-nav ul {
  list-style: none;
  padding: 0;
}

.management-nav li {
  margin-bottom: 10px;
}

.management-nav a {
  text-decoration: none;
  color: #007bff;
}

.management-nav a:hover {
  text-decoration: underline;
}
