/* General styles */
.table-management {
  padding: 20px;
}

.tables {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
}

.table {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
}

.modal-content {
  position: fixed;
  top: -100px;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  border-radius: 0;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.bill-detail{
  margin: 5%;
}

/* Responsive styles for mobile */
@media (max-width: 600px) {
  .tables {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  }

  .table {
    padding: 5px;
  }

  .table p {
    font-size: 14px;
  }
}

@media (min-width: 601px) {
  .table-management{
    margin-left: 10%;
  }

  .tables {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .table {
    padding: 15px;
  }

  .table p {
    font-size: 18px;
  }
}
