/* FoodManagement.css */

/* General styles */
.food-management {
  padding: 20px;
}

.food-management h1 {
  text-align: center;
}

.food-management button:hover {
  background-color: #0056b3;
}

.food-management .food-list {
  overflow-x: auto;
}

.food-management .food-list table {
  width: 100%;
  border-collapse: collapse;
}

.food-management .food-list th, .food-list td {
  border: 1px solid #ddd;
  text-align: center;
}

.food-management .food-list button:hover {
  background-color: #0056b3;
}

.food-management .food-list button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  align-items: center;
  justify-content: center;
}

/* Responsive styles for mobile */
@media (max-width: 600px) {

  .food-list th:nth-child(1),
  .food-list td:nth-child(1),
  .food-list th:nth-child(4),
  .food-list td:nth-child(4) {
    display: none; /* Ẩn cột hình ảnh và danh mục */
  }
  
  .food-management {
    padding: 10px;
  }

  .food-management .food-list th, .food-list td {
    padding: 5px;
  }
}


/* Responsive styles for desktops */
@media (min-width: 601px) {
  .food-management {
    margin-left: 10%;
  }
}
